= section "Details", "details", "plus"
.section#details(style="display:none;")
  %small= "Created by #{@fleet.created_by} #{time_ago_in_words(@fleet.created_at)} ago"
  %br/
  FC: #{@fleet.fc}<br/>
  XO: #{@fleet.xo}<br/>
  Visible to: #{@fleet.scope_to_s}<br/>
  Direct access: #{@fleet.direct_access}<br/>
  - if @fleet.admin?(@current_user)
    #{link_to 'Edit', edit_fleet_path(@fleet)} 
