%div[@fleet]{:data => {:id => "#{@fleet.id}", :time => "#{Time.now.to_i}"}}
  .float
    = link_to "Fleet #{@fleet.id}", @fleet, :title => "Copy this URL to invite others to join or to view in your out-of-game browser"
    /= button_to "Copy URL", "#"
  %h3.fleet= @fleet.title
  = render 'details'
  = render 'summary'
  = render 'scouts'
  = render 'reports'
  = render 'recon'
  = render 'pilots'
%ul.navigation
  %li= link_to "Refresh", ""
  - if @current_user && @current_user.in_fleet?(@fleet)
    %li= link_to 'Leave Fleet', leave_path
  - else
    %li= link_to 'Join Fleet', join_url(:id => @fleet)
  %li= link_to 'Delete Fleet', @fleet, :confirm => "Are you sure?", :method => :delete if @fleet.admin?(@current_user)
  %li= link_to 'Fleets', fleets_path