<h1>Listing users</h1>

<table>
  <tr>
    <th>Char name</th>
    <th>Corp name</th>
    <th>Alliance name</th>
    <th>Station name</th>
    <th>Solar system name</th>
    <th>Constellation name</th>
    <th>Region name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.char_name %></td>
    <td><%= user.corp_name %></td>
    <td><%= user.alliance_name %></td>
    <td><%= user.station_name %></td>
    <td><%= user.solar_system_name %></td>
    <td><%= user.constellation_name %></td>
    <td><%= user.region_name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
